@import 'tailwindcss';

:root {
    font-family: var(--font-figtree), sans-serif;
}

body {
    background-image: linear-gradient(
        90deg,
        #0e0a14,
        #171021 27%,
        #0e0a14 74%,
        #181025
    );
}

.auth-page {
    background-image: linear-gradient(
        90deg,
        #0e0a14,
        #171021 27%,
        #0e0a14 74%,
        #181025
    );
}
